title = "depmap-omics-rna config"

gcp_project_id = "depmap-omics"
gumbo_env = "prod"
uuid_namespace = "00000000-0000-0000-0000-000000000000"
dry_run = false

[terra]
repo_namespace = "cds-pipelines"
workspace_namespace = "broad-firecloud-ccle"
workspace_name = "depmap-omics-rna"

[terra.align_sr_rna]
method_namespace = "cds-pipelines"
method_name = "align_sr_rna"
method_config_namespace = "cds-pipelines"
method_config_name = "align_sr_rna"
method_synopsis = "Align a single RNA sample using STAR"
workflow_wdl_path = "./workflows/align_sr_rna/align_sr_rna.wdl"
method_config_json_path = "./workflows/align_sr_rna/align_sr_rna.json"
workflow_inputs_json_path = "./workflows/align_sr_rna/align_sr_rna_inputs.json"

[terra.call_sr_rna_fusions]
method_namespace = "cds-pipelines"
method_name = "call_sr_rna_fusions"
method_config_namespace = "cds-pipelines"
method_config_name = "call_sr_rna_fusions"
method_synopsis = "Call short read RNA fusions with Arriba"
workflow_wdl_path = "./workflows/call_sr_rna_fusions/call_sr_rna_fusions.wdl"
method_config_json_path = "./workflows/call_sr_rna_fusions/call_sr_rna_fusions.json"
workflow_inputs_json_path = "./workflows/call_sr_rna_fusions/call_sr_rna_fusions_inputs.json"

[terra.quantify_sr_rna]
method_namespace = "cds-pipelines"
method_name = "quantify_sr_rna"
method_config_namespace = "cds-pipelines"
method_config_name = "quantify_sr_rna"
method_synopsis = "Quantify short read RNA fusions with Salmon"
workflow_wdl_path = "./workflows/quantify_sr_rna/quantify_sr_rna.wdl"
method_config_json_path = "./workflows/quantify_sr_rna/quantify_sr_rna.json"
workflow_inputs_json_path = "./workflows/quantify_sr_rna/quantify_sr_rna_inputs.json"

[terra.process_sr_rna]
method_namespace = "cds-pipelines"
method_name = "process_sr_rna"
method_config_namespace = "cds-pipelines"
method_config_name = "process_sr_rna"
method_synopsis = "Run alignment, fusion calling, and quantification workflows"
workflow_wdl_path = "./workflows/process_sr_rna/process_sr_rna.wdl"
method_config_json_path = "./workflows/process_sr_rna/process_sr_rna.json"
workflow_inputs_json_path = "./workflows/process_sr_rna/process_sr_rna_inputs.json"

[terra.gzip_tsv]
method_namespace = "cds-pipelines"
method_name = "gzip_tsv"
method_config_namespace = "cds-pipelines"
method_config_name = "gzip_tsv"
method_synopsis = "gzip_tsv"
workflow_wdl_path = "./workflows/gzip_tsv/gzip_tsv.wdl"
method_config_json_path = "./workflows/gzip_tsv/gzip_tsv.json"
workflow_inputs_json_path = "./workflows/gzip_tsv/gzip_tsv_inputs.json"

[ref.hg19]
ref_fasta = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta"
ref_fasta_index = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.fai"

[ref.hg38]
ref_fasta = "gs://ccleparams/hg38.DRAGEN_GP_CRAM.fa"
ref_fasta_index = "gs://ccleparams/hg38.DRAGEN_GP_CRAM.fa.fai"
